.profileCard {
  margin-top: 16px;
  max-width: 768px;
  border-radius: 12px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  color: black;
  margin-bottom: 12px;
}

.text {
  font-size: 32px;
  color: grey;
  text-align: center;
}

.img {
  width: 50%;
  margin-top: 16px;
  border-radius: 50%;
  background-color: black;
}

.list {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  margin-top: 12px;
  border-radius: 0 0 12px 12px;
}

.listItem {
  width: calc(100% / 3);
  border-top: 3px solid gray;
  border-right: 3px solid gray;
  color: black;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-align: center;
}

.listItem:last-child {
  border-right: none;
}

.countItem {
  font-weight: bold;
}
